.artworkLisContainerFilter {
    width: 95vw;
    padding-left: 9px;
    cursor: pointer;
}

.artworkLisContainerFilterImg {
    margin: 0;
    height: 16px;
    width: 15px;
    cursor: pointer;
}

.artworkLisContainerFilterTxt {
    font-size: 15px;
    font-weight: 600;
}

