.header {
    background-color: #ffffff;
    /*box-shadow: rgba(164, 163, 163, 0.2) 0px 2px 8px 0px;*/
    /*box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;*/
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.headerNav {
    padding-bottom: 10px;
}

.headerThemeName {
    font-family: 'Berkshire Swash', sans-serif;
    color: #000000!important;
    font-size: 50px;
}

.headerThemeName:focus {
    cursor: grab;
}

.headerUlNavLinks {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 500;
    color: #000000;
}

.headerUlUpperLeftLinks {
    padding: 0;
    margin: 0;
    font-size: 14px;
    list-style: none;
    font-weight: 500;
}

.headerSearchBar {
    border: none;
    padding-left: 10px;
    border-radius: 3px;
    height: 36px;
    font-size: 15px;
    width: 94%;
}

.headerSearchBar:focus {
    /*border: 1px solid black;*/
    /*outline: black;*/
    outline: none;
     /* Remove the default outline */
    /*border: 2px solid #707070; !* Set a black border color *!*/
    /* box-shadow: 0 0 3px rgba(173, 173, 173, 0.5); */
}

.shoppingCart{
    /*margin-top:-5px;*/
    width: 35px;
    height: 35px;
    cursor: pointer;
}